

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  h1 {
    text-align: center;
    padding: 50px 0;
    font-weight: 800;
    margin: 0;
    letter-spacing: -1px;
    color: inherit;
    font-size: 40px;
  }
  
  /* By Dominik Biedebach @domobch */
  
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 50px;
  }
  
  .center {
    text-align: center;
  }
  
  /* By Dominik Biedebach @domobch */
  
  section {
    height: 100vh;
  }
  
  /* NAVIGATION */
  nav {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 1px 0px #dedede;
  }
  
  /* By Dominik Biedebach @domobch */
  nav ul {
    list-style: none;
    text-align: center;
    background-color: black;
    margin-bottom: 0px;
  }
  nav ul li {
    display: inline-block;
    
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 25px;
    
    
  }

  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #b1a13e;
  }
  
  /* By Dominik Biedebach @domobch */
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #b1a13e;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  /* By Dominik Biedebach @domobch */
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #b1a13e;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  * {
    background-color: black;
  }

  #navlogomain
  { 
    height: 45px;
  width: 45px;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }